footer{
    background-color: black;
    height: 10%;
    color: antiquewhite;
    padding-top: 20px;
}


.person {
  display: inline-block;
  margin: 3px 3px 0 0;
  text-align: left;
  width: 200px;
}